
<section id="case-studies" class="grid-wrapper spacing__pad-bottom--4 spacing__pad-top--4">
  <div class="col__6--center spacing__margin-bottom--2">
    <h1 class="spacing__margin-bottom--0">Selected Case Studies</h1>
    <div class="text--ui text__font-sze--14 text__color--blue spacing__margin-bottom--1">Sitemaps, Userflows, and Research</div>
  </div>

  <div class="col__5">
    <h2 class="spacing__margin-bottom--0">Team-Based Learning Exercise Builder</h2>
    <div class="text--ui text__font-sze--14 text__color--blue spacing__margin-bottom--1">OpenTBL</div>
    <p class="spacing__margin-bottom--2">After adding a Team-based Learning (TBL) feature to ThinkSpace, one of our learning platforms, we noticed an unusual increase in tickets regarding the exercise builder.</p>
    <a href="work/opentbl" class="btn btn--primary">Read Case Study</a>
  </div>
  <div class="col__1"></div>
  <div class="col__6">
    <figure>
      <img src="/assets/images/work/opentbl/otbl__space-home--2.png" alt="Photo of course overview">
    </figure>
  </div>
  <div class="col__5">
    <h2 class="spacing__margin-bottom--0">Designing Readiness Assurance Tests</h2>
    <div class="text--ui text__font-sze--14 text__color--blue spacing__margin-bottom--1">OpenTBL</div>
    <p class="spacing__margin-bottom--2">After adding a Team-based Learning (TBL) feature to ThinkSpace, one of our learning platforms, we noticed an unusual increase in tickets regarding the exercise builder.</p>
    <a href="work/opentbl" class="btn btn--primary">Read Case Study</a>
  </div>
  <div class="col__1"></div>
  <div class="col__6">
    <figure>
      <img src="/assets/images/work/opentbl/otbl__space-home--2.png" alt="Photo of course overview">
    </figure>
  </div>
  <div class="col__5">
    <h2 class="spacing__margin-bottom--0">Research Resources</h2>
    <div class="text--ui text__font-sze--14 text__color--blue spacing__margin-bottom--1">Center for the Integration of Research, Teaching, and Learning</div>
    <p class="spacing__margin-bottom--2">After adding a Team-based Learning (TBL) feature to ThinkSpace, one of our learning platforms, we noticed an unusual increase in tickets regarding the exercise builder.</p>
    <a href="work/opentbl" class="btn btn--primary">Read Case Study</a>
  </div>
  <div class="col__1"></div>
  <div class="col__6">
    <figure>
      <img src="/assets/images/work/opentbl/otbl__space-home--2.png" alt="Photo of course overview">
    </figure>
  </div>
</section>