
<div id="contact" class="contact__container">
  <figure class="figures__bg-circle--gray figures__width--60 is-left">
    <img src="/assets/images/poz/poz__face.svg" alt="avatar">
  </figure>

  <div class="contact__text">
    <div class="text--ui text__color--blue">Contact:</div>
    <ul class="basic-list--no-dots">
      <li class="basic-list__item--separator basic-list__item--inline">
        <a href="#">Email</a>
      </li>
      <li class="basic-list__item--separator basic-list__item--inline">
        <a href="#">Dribbble</a>
      </li>
      <li class="basic-list__item--separator basic-list__item--inline">
        <a href="#">GitHub</a>
      </li>
      <li class="basic-list__item--separator basic-list__item--inline">
        <a href="#">Linkedin</a>
      </li>
      <li class="basic-list__item--separator basic-list__item--inline">
        <a href="#">Twitter</a>
      </li>
    </ul>
  </div>
</div>