<div class='site-nav__container grid__container-padding spacing__pad-top--4'>
  <nav role='navigation'>

    {% include branding.html %}
    
    <!-- <ul class='site-nav__list'>
      <li class='site-nav__item'><a href='/work/' class='site-nav__link'>Recent Work</a></li>
      <li class='site-nav__item'><a href='/contact/' class='site-nav__link'>Articles</a></li>
      <li class='site-nav__item'><a href='/contact/' class='site-nav__link'>Contact</a></li>
    </ul>
  </nav>
</div>

<div class='site-nav__container--mobile'>
  <a href='{{site.baseurl}}/'> 
    <div class="branding__logo-container">
      <div class="branding__logo branding__logo--50"></div>
    </div>
  </a>

  <div class='is-right'><a href='#' class='site-nav__link'>Menu</a></div> -->

</div>