<nav role="navigation" id="nav" class='site-bar__container site-bar--nav'>

  <a href='{{site.baseurl}}/' class="site-bar__item--logo">
    <div class="branding__logo--white branding__logo--22"></div>
  </a>
  <ul class='site-nav__list js-site-nav__list'>
    <li class='site-bar__item'>
      <a href='{{site.baseurl}}/#contact' class='site-bar__link'>Contact</a>
    </li>
    <li class='site-bar__item'>
      <a href='{{site.baseurl}}/#case-studies' class='site-bar__link'>Case Studies</a>
    </li>
  </ul>
</nav>


