///*------------------------------------*\
//    #HEADINGS
//\*------------------------------------*/

h1, h2, h3, h4 {
  font-family: $font-family--headings;
  font-weight: $font-weight--bold;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}