///*------------------------------------*\
//    #TYPE
//\*------------------------------------*/

/**
 * Paragraph.
 */

p {
  max-width:   $max-width--content;
  line-height: 1.6em;
}




/**
 * Bold.
 */
b, 
strong {
  font-weight: $font-weight--bold;
}




