///*------------------------------------*\
//    #LINKS
//\*------------------------------------*/

p a:not(.btn),
.contact__text a {
  text-decoration: underline;
  color:           $color__green--base;
  transition:      $transition-animation--color;
  cursor:          pointer;

  &:hover, &:focus {
    color: $color__blue--dark;
  }
}

