///*------------------------------------*\
//    #META-CONTAINER
//\*------------------------------------*/

.meta-container {
  display:         flex;
  justify-content: space-between;
  border:          3px solid $color__gray--light;
  padding:         1rem;
  margin-top:      2rem;
  margin-bottom:   2rem;

  .btn {
    min-width: 150px;
  }

  @media only screen and (max-width: $mq--small) {
    display: block;

  }
}

.meta-container__column {
  @media only screen and (max-width: $mq--small) {
    margin-bottom: 2rem;

    &:last-of-type{
      margin-bottom: 1rem;
    }

  }
}

.meta-container__label {
  font-family:   $font-family--ui;
  font-size:     12px;
  margin-bottom: .5rem;
}