///*------------------------------------*\
//    #CONTACT
//\*------------------------------------*/

.contact__container {
  margin-bottom: 2rem;
}

.contact__text {
  padding-left: 80px;
  padding-top:  8px;
  font-size:    12px;

  ul li {
    @media only screen and (max-width: 535px) {
      display:    block;
      margin-top: 6px;

      &:before {
        content: '';
        padding: 0;
      }
    }
  }
}