///*------------------------------------*\
//    #META-CONTAINER
//\*------------------------------------*/

.meta-container {
  display:         flex;
  justify-content: space-between;
  border:          3px solid $color__gray--light;
  padding:         1rem;
  margin-top:      2rem;
  margin-bottom:   2rem;

  .btn {
    min-width: 150px;
  }
}

.meta-container__column {

}

.meta-container__label {
  font-family:   $font-family--ui;
  font-size:     12px;
  margin-bottom: .5rem;
}