///*------------------------------------*\
//    #CONTACT
//\*------------------------------------*/

.contact__container {
  margin-bottom: 2rem;
}

.contact__text {
  padding-left: 80px;
  padding-top:  8px;
  font-size:    12px;
}