///*------------------------------------*\
//    #SITE-NAV
//\*------------------------------------*/

.site-nav__container {
  @extend .group;

  position:    fixed;
  height:      100vh;
  width:       25%;
  max-width:   300px;
  padding-top: 4rem;

  @media only screen and (max-width: $mq--small) {
    position:       relative;
    width:          100%;
    max-width:      none;
    height:         auto;
    padding-top:    1rem;
    padding-bottom: 1rem;
  }

}


.site-nav__list {
  list-style-type: none;
  margin-top:      8rem;
  padding-left:     0;

  @media only screen and (max-width: $mq--small) {
    height:              calc(100vh - 90px);
    width:               100%;
    position:            absolute;
    padding:             0 $spacing-unit 0; 
    background-color:    $color-gray-light;
    border-top:          1px solid $color-gray-med;
    margin:              0;
    top:                 -100vh;
    left:                0;
    z-index:             3;
    transition-property: top;
    transition-duration: .25s;
    will-change:         top;

    &.is-open {
      top: 90px;
    }
  }
}

.site-nav__item {
  @extend .group;

  line-height:   1.5rem;
  margin-bottom: 1rem;
}

.site-nav__link {
  @extend .group;

  display:         block;
  width:           100%;
  height:          100%;
  color:           $color-black-base;
  text-decoration: none;
  transition:      $transition-animation--color;
  cursor:          pointer;
  font-weight:     $font-weight--bold;
  font-size:       14px;
  line-height:     30px;

  &:hover, &:focus {
    color: $color-blue-med;
    background-color: $color-gray-light;

    .site-nav__icon--work {
      background-image: url('/assets/images/icons/nav-icons__work--color.svg');
    }

    .site-nav__icon--articles {
      background-image: url('/assets/images/icons/nav-icons__articles--color.svg');
    }
  }

  @media only screen and (max-width: $mq--small) {
    height:          25%;
    width:           100%;
    display:         -ms-flexbox;
    display:         flex;
    -ms-flex-pack:   center;
    justify-content: center;
    -ms-flex-align:  center;
    align-items:     center;
    font-size:       18px;
    line-height:     4em;
    border-bottom:   1px dashed $color-gray-med;


  }
}

.site-nav__open {
  font-size:   14px;
  float:       right;
  line-height: $nav-bar--height;
  font-weight: $font-weight--bold;
  color:       $color-black-base;
  vertical-align: middle;

  &:before {
    content:   "☰ ";
    font-size: 16px;
  }

  &:hover, &:focus {
    color: $color-blue-med;
  }

  @media only screen and (min-width: $mq--small) {
    display: none;
  }
}

.site-nav__icon {
  margin-right: 12px;
  width:        60px;
  height:       34px;
  float:        left;
  transition:   $transition-animation--background-img;
  will-change:  background-image;
}

.site-nav__icon--work {
   background: url('/assets/images/icons/nav-icons__work--bw.svg')no-repeat scroll 50% 0 transparent;
}

.site-nav__icon--articles {
   background: url('/assets/images/icons/nav-icons__articles--bw.svg')no-repeat scroll 50% 0 transparent;
}