///*------------------------------------*\
//    #SITE-NAV
//\*------------------------------------*/

// Local Variables
$site-bar--height: 44px;

.site-bar__container {
  @extend .group;

  position:         relative;
  height:           auto;
  width:            100%;
  max-width:        $max-width;
  margin:           0 auto;
  margin-top:       2rem;
  top:              0;
  left:             0;

}

.site-bar--nav {
  background-color: $color__black--base;
}

.site-bar--footer {
  background-color: $color__gray--med;
  color: $color__black--base;
}



.site-nav__list {
  list-style-type: none;
  padding-left:    0;
  margin:          0;
  float:           right;

}

.site-bar__item {
  @extend .group;
  
  display:          inline-block;

}

.site-bar__item--logo {
  float:            left;
  width:            $site-bar--height + 2px;
  height:           $site-bar--height;
  border-right:     3px solid white;
  color:            white;
  background-color: $color__black--base;
  cursor:           pointer;
  transition:       $transition-animation--background-color;

  

}

.site-bar--nav .site-bar__item--logo {
  color:            white;
  background-color: $color__black--base;

  &:hover, &:focus {
    background-color: $color__green--base;
  }
}

.site-bar--footer .site-bar__item--logo {
  color:            $color__black--base;
  background-color: $color__gray--med;

  &:hover, &:focus {
    background-color: $color__green--base;
  }
}

.site-bar__link {
  @extend .group;

  display:         block;
  font-family:     $font-family--ui;
  width:           100%;
  height:          100%;
  line-height:     $site-bar--height - 2px;
  text-decoration: none;
  transition:      $transition-animation--color;
  padding-left:    1rem;
  padding-right:   1rem;
  cursor:          pointer;
  font-size:       12px;


  &:hover, &:focus {
    color: $color__blue--base;
  }

}

.site-bar--nav .site-bar__link {
  color: $color__off-white--base;

  &:hover, &:focus {
    color: $color__green--base;
  }
}

.site-bar--footer .site-bar__link {
  color: $color__black--base;
  
  &:hover, &:focus {
    color: $color__green--base;
  }
}

.site-bar__copyright {
  display:       inline;
  font-family:   $font-family--ui;
  font-size:     12px;
  width:         100%;
  height:        100%;
  line-height:   $site-bar--height - 2px;
  padding-left:  1rem;
  padding-right: 1rem;
}