///*------------------------------------*\
//    #SITE-NAV
//\*------------------------------------*/

.site-nav__container {
  position:         fixed;
  height:           100vh;
  width:            25%;
  max-width:        300px;
  background-color: $color-gray-light;
}