///*------------------------------------*\
//    #BRANDING
//\*------------------------------------*/

.branding__logo--white {
  background: url('/assets/images/branding/logo__j--white.svg')no-repeat scroll 50% 0 transparent;
}

.branding__logo--black {
  background: url('/assets/images/branding/logo__j--black.svg')no-repeat scroll 50% 0 transparent;
}

.branding__logo--22 {
  height:     22px;
  margin-top: 10px;
}

.branding__logo--50 {
  width:  50px;
  height: 50px;
}
