///*------------------------------------*\
//    #CAPTIONS
//\*------------------------------------*/

.caption__container {
  direction: block;
  font-size: 12px;
}

.caption__label {
  float:       left;
  padding-top: 8px;
  font-family: $font-family--ui;
  color:       $color__blue--dark;
}

.caption__description {
  font-style:  italic;
  margin-left: 60px;
  padding:     8px 0 8px 16px;
  border-left: 2px solid $color__gray--med;
  line-height: 1.7em;
}