///*------------------------------------*\
//    #FOOTNOTES
//\*------------------------------------*/

sup a {
  color:           $color__green--base;
  margin:          0 .3em;
  font-family:     $font-family--ui;
  text-decoration: none;
}