///*------------------------------------*\
//    #DIVIDER
//\*------------------------------------*/

.divider--thick {
  height:        3px;
  border:        none;
  margin-bottom: 2rem;
}

.divider--med {
  height:        2px;
  border:        none;
  margin-bottom: .875rem;
}

.divider--blue {
  background-color: $color__blue--dark;
}

.divider--black {
  background-color: $color__black--base;
}

.divider--gray {
  background-color: $color__gray--light;
}