///*------------------------------------*\
//    #BUTTONS
//\*------------------------------------*/

button, 
.btn {
  display:            inline-block;
  font-family:        $font-family--ui;
  font-size:          .75rem;
  text-align:         center;
  vertical-align:     middle;
  text-transform:     capitalize;
  background-color:   $color__gray--med;
  color:              $color__black--base;
  border:             none;
  cursor:             pointer;
  white-space:        nowrap;
  overflow:           hidden;
  padding:            0 1.15rem;
  text-decoration:    none;
  height:             2rem;
  line-height:        2rem;
  -webkit-box-shadow: -4px 4px 0px 0px rgba(245,245,246,1);
  -moz-box-shadow:    -4px 4px 0px 0px rgba(245,245,246,1);
  box-shadow:         -4px 4px 0px 0px rgba(245,245,246,1);
  transition:         background-color .29s ease-in-out 0s;
  will-change:        background-color;

  &:hover, &:focus {
    background-color: darken($color__gray--med, 10%);
    color:            $color-black-base;


  }
  
  &:active {
    background-color: $color-gray-base;
    color:            $color-black-base;
  }

  &:focus {
    outline:        1px dotted $color-gray-base;
    outline-offset: -4px;
  }
}

.btn--primary {
  background-color: $color__green--base;
  color:            white;

  &:hover, &:focus {
    background-color: $color__blue--dark;
    color:            white;
  }
  
  &:focus {
    outline:        1px dotted white;
    outline-offset: -4px;
  }
  
  &:active {
    // background-color: $color-blue-base;
  }
}

.btn--text-only {
  background-color: transparent;
  color:            white;

  &.text-only--white {
    &:hover, &:focus {
      background-color: white;
      color:            $color-blue-base;
    }
  }
}


.btn--full {
  width: 100%;
  line-height: 2.5rem;
  height:      2.5rem;
}

.btn--mobile-full {
  @media only screen and (max-width: 40rem) {
    width:       100% !important;
    line-height: 2.5rem;
    height:      2.5rem;
  }
}

///*------------------------------------*\
//    #ACTION-LINKS
//\*------------------------------------*/

.action-link--small {
  font-size:   .75rem;
  font-weight: $font-weight--bold;
  transition:  $transition-animation--color;
  cursor:      pointer;
}

.action-link--gray {
  color:      $color-gray-base;
  transition: $transition-animation--color;
  
  &:hover, &:focus {
    color: $color-blue-med;
  }
}

.action-link--black {
  color:      $color-black-base;
  transition: $transition-animation--color;
  
  &:hover, &:focus {
    color: $color-blue-base;
  }
}




///*------------------------------------*\
//    #BUTTON-GROUPS
//\*------------------------------------*/

.btn-group {
  @extend .group;

  &.btn-group--mobile-full {
    @media only screen and (max-width: 40rem) {
        float: initial !important;
      }
  }
  
  .btn, .dropdown, .action-link--small, .icon--actionable, .btn__component {
    margin-left: 1rem;

    &:first-child {
      margin-left: 0;
    }

    &.btn--mobile-full {
      @media only screen and (max-width: 40rem) {
        margin-left: 0;
        margin-top: 1rem;
      }
    }
  }

  >.btn__component {
    display: inline-block;
  }
}

