///*------------------------------------*\
//    #FIGURES
//\*------------------------------------*/

figure {
  margin: 0;
}

.figures__bg-circle--gray {
  background-color: $color__gray--light;
  border-radius:    50%;
}

.figures__width--60 {
  width:   60px;
  height:  60px;
  padding: 10px;
}

.figures__width--20 {
  width: 20px;
}

.figures__width--100 {
  width: 100px;
}