///*------------------------------------*\
//    #DIVIDER
//\*------------------------------------*/

.divider--thick {
  height: 4px;
  border: none;
  margin-bottom: 2rem;
}

.divider--blue {
  background-color: $color-blue-med;
}