///*------------------------------------*\
//    #GLOBAL
//\*------------------------------------*/

$border-radius:   2px;
$nav-bar--height: 60px;

$max-width:          1200px;
$max-width--content: 500px;
$site-nav--width:    250px;

// Type
$font-family--body:     'Libre Baskerville', serif;
$font-family--headings: 'Work Sans', sans-serif;
$font-family--ui:       'Roboto Mono', monospace;
$font-weight--regular: 300;
$font-weight--bold:    700;

$font-family:          Lucida Grande, Verdana, sans-serif; 

// Spacing
$spacing-unit:        0.9375rem;
$spacing-unit--large: ($spacing-unit*2);
$spacing-unit--small: ($spacing-unit/2);


// Animation
$transition-animation:                   all .29s ease-in-out 0s;
$transition-animation--color:            color .15s ease-in-out 0s;
$transition-animation--background-color: background-color .29s ease-in-out 0s;
$transition-animation--background-img:   background-image .15s ease-in-out 0s;

// Borders
$border--light:   2px solid $color-gray-med;
$border--thin:    1px solid $color-gray-med;

///*------------------------------------*\
//    #MEDIA QUERIES
//\*------------------------------------*/

// $media-query--retina: (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi);

$mq--small: 700px;