///*------------------------------------*\
//    #COLORS
//\*------------------------------------*/

// Black
$color__black--base: #464646;

// Gray
$color__gray--base:  #757575;
$color__gray--med:   #DCDCDC;
$color__gray--light: #F1F1F1;

// Blue
$color__blue--dark: #0B4F6C; 
$color__blue--base: #01BAEF;


// Green
$color__green--base: #20BF55;

// Off-White
$color__off-white--base: #FBFBFF;


///*------------------------------------*\
//    #OLD - COLORS
//\*------------------------------------*/

// Black
$color-black-base: #464646;

// Gray
$color-gray-light:        #f5f5f6;
$color-gray-med:          #e1e2e1;
$color-gray-input-stroke: #cccccc;
$color-gray-base:         #9a9a9a;


// Blue
$color-blue-med:  #63a4ff; 
$color-blue-base: #1976d2;
$color-blue-dark: #004ba0; 

$color-blue-top-bar: #0E57B0;

// Pink
$color-pink-base:  #EC6381;

$color-purple-base: #8377F2;

// Green
$color-green-base: #6ecb72;

// Yellow
$color-yellow-base: #F7CE56;

// Red
$color-red-base: #ee6055;
$color-red-light: lighten($color-red-base, 20%);


// Modal White
$color-modal-background: rgba(255, 255, 255, 0.95);